<p id="notice"><%= notice %></p>

<p>
  <strong>Timezone: </strong>
  <%= @user.timezone %>
</p>

<%= link_to 'Logout', logout_url, method: :delete, remote: true %>

<%= link_to 'Edit', edit_user_url %>
